.hero {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) -13.19%,
    rgba(0, 0, 0, 0.85) 94.01%
  ),
  url("../assets/images/image.png");
  background-size:cover ;
  background-position-x: 53%;
  max-width: 1600px;
  margin: auto;
  
}

.img{
  background: url("../assets/images/rectangle 6.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.img-1{
  background: url("../assets/images/rectangle 6 (1).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 53%;
}